body,html {
    font-family: 'itallic', serif;
    font-size: 12px;
   
        background: url(header.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
  h1{
    
    color: white;
  }
  hr{
    background-color: orangered;
    border-width: 2px;
    width: 40px;
  }
  .buffer{
    height: 100px;
  }
  .btn-primary{
    background-color: orangered;
    border-radius: 300px;
    border-color: orangered;
    padding: 1rem 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  .btn-primary:hover{
    background-color: orangered;
    border-width: 4px;
border-color: orangered;  }